{% extends 'base.html' %}

{% block header %}
<header class="headerConsulta">
  <h3><a href="{% url 'index' %}" style="color: white;">Sistema Bibliotecário da <span class="titulo-laranja">EEEP Raimundo Célio Rodrigues</span></a></h3>
  <nav>
    <a class="btn-laranja" href="{% url 'livros' %}">Livros</a>
  </nav>
</header>
{% endblock %}

{% block content %}
<main>
  <h1>Cadastro de livro</h1>
  <div class="container cadastro">
    <form action="{% url 'novo_livro' %}" method="POST" class="formCadastro">
      {% csrf_token %}
      <div class="inputs">
        <div class="input">
          <i class="bi bi-book"></i>
          {{form.titulo}}
        </div>
        <div class="input">
          <i class="bi bi-person-lines-fill"></i>
          {{form.autor}}
        </div>
        <div class="input">
          <i class="bi bi-stack"></i>
          {{form.quantidade}}
        </div>
      </div>
      <button class="btn-laranja" id="btn" type="submit" style="width: 300px; margin: 0 auto; cursor: pointer; margin-top: 1rem;" onclick="block()">Cadastrar</button>
    </form>
  </div>
</main>

<script>
  function block() {
    setInterval(() => {
      document.getElementById("btn").disabled = true;
    }, 1000);
    document.getElementById('btn').disabled = false;
  }
</script>
{% endblock %}